[Desktop Entry]
Type=Application
Name=Lyra Vega
Comment=Control Center
GenericName=Configurações do sistema
GenericName[en]=System Settings
GenericName[es]=Configuración del sistema
GenericName[pt_BR]=Configurações do sistema
Exec=/usr/bin/vega-gtk
Icon=vega
Terminal=false
Categories=Settings;System;
StartupWMClass=org.lyraos.Vega
